<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash

ruby18 &lt;&lt;'END'

ENV['CVS_PATH'] = ENV['TM_CVS']
$LOAD_PATH &lt;&lt; ENV['TM_BUNDLE_SUPPORT']
require 'versioned_file'
require 'diff'

file = CVS::VersionedFile.new(ENV['TM_FILEPATH'])
annotation = file.cvs(:annotate)
diff = CVS::Diff.new(file.diff(:head))

n = diff.source_line(ENV['TM_LINE_NUMBER'].to_i-1)
case n
when Symbol then puts "#{n} locally"
else puts annotation.split(/\n/)[n]
end

END
</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^Z</string>
	<key>name</key>
	<string>Annotate Line</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>toolTip</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>cvs</string>
			<key>locations</key>
			<array>
				<string>/opt/local/bin/cvs</string>
				<string>/usr/local/bin/cvs</string>
			</array>
			<key>variable</key>
			<string>TM_CVS</string>
		</dict>
	</array>
	<key>uuid</key>
	<string>76E34DE2-1DCB-47B8-BA2F-4F3341A3AB9C</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
