<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash

cd "$TM_DIRECTORY" &amp;&amp;
"${TM_CVS:=cvs}" annotate "$TM_FILENAME"</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^Z</string>
	<key>name</key>
	<string>Annotate</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>cvs</string>
			<key>locations</key>
			<array>
				<string>/opt/local/bin/cvs</string>
				<string>/usr/local/bin/cvs</string>
			</array>
			<key>variable</key>
			<string>TM_CVS</string>
		</dict>
	</array>
	<key>uuid</key>
	<string>338A3670-DA8E-4036-87E0-DF2E212254C8</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
