<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash

export CommitWindow="$TM_SUPPORT_PATH/bin/CommitWindow.app/Contents/MacOS/CommitWindow"

cd "${TM_PROJECT_DIRECTORY:-$TM_DIRECTORY}"
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby -- "${TM_BUNDLE_SUPPORT}/cvs_commit.rb"</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^Z</string>
	<key>name</key>
	<string>Commit...</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>html</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>cvs</string>
			<key>locations</key>
			<array>
				<string>/opt/local/bin/cvs</string>
				<string>/usr/local/bin/cvs</string>
			</array>
			<key>variable</key>
			<string>TM_CVS</string>
		</dict>
	</array>
	<key>uuid</key>
	<string>BE6728A5-AFC4-4D98-9EC7-C2E951483B71</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
