<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

cd "$TM_DIRECTORY"
revs=$("${TM_CVS:=cvs}" log "$TM_FILENAME"|grep '^revision' \
	2&gt; &gt;(CocoaDialog progressbar --indeterminate \
		--title "Diff Revision…" \
		--text "Retrieving List of Revisions…" \
	))

revs=$(echo $revs|sed 's/revision //g')

revs=`osascript&lt;&lt;END
	set AppleScript's text item delimiters to {" "}
	tell app "SystemUIServer"
		activate
		set ourList to (every text item of "$revs")
		if the count of items in ourList is 0 then
			display dialog "No older revisions of file '$(basename "$TM_FILEPATH")' found" buttons ("OK")
			set the result to false
		else
			choose from list ourList with prompt "Diff '$(basename "$TM_FILEPATH")' with older revision:"
		end if
	end tell
END`

# exit if user canceled
if [[ $revs = "false" ]]; then
	osascript -e 'tell app "TextMate" to activate' &amp;&gt;/dev/null &amp;	exit_discard
fi

export REVS="$revs"
ruby &lt;&lt;'END'

ENV['CVS_PATH'] = ENV['TM_CVS']
$LOAD_PATH &lt;&lt; ENV['TM_BUNDLE_SUPPORT']
require 'cvs_diff'

CVS::diff_active_file(ENV['REVS'], "Diff With Revision...")
END</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^Z</string>
	<key>name</key>
	<string>Diff With Revision...</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>cvs</string>
			<key>locations</key>
			<array>
				<string>/opt/local/bin/cvs</string>
				<string>/usr/local/bin/cvs</string>
			</array>
			<key>variable</key>
			<string>TM_CVS</string>
		</dict>
	</array>
	<key>uuid</key>
	<string>6416A49F-8B3E-47EE-81B4-F2F7F19C6B41</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
