<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash

/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby &lt;&lt;'END'

ENV['CVS_PATH'] = ENV['TM_CVS']
$LOAD_PATH &lt;&lt; ENV['TM_BUNDLE_SUPPORT']
require 'versioned_file'

tag=`CocoaDialog inputbox --title Merge --informative-text 'Which tag?' --button1 Update --button2 'Cancel'`

accept, tag = *tag.to_a.map {|l| l.chomp}

exit unless accept =~ /1/

file = CVS::VersionedFile.new(ENV['TM_FILEPATH'])
file.update(:tag =&gt; tag, :sticky =&gt; false)

puts "Merged #{file.basename} from #{tag}."

END
</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^Z</string>
	<key>name</key>
	<string>Merge from tag...</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>discard</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>cvs</string>
			<key>locations</key>
			<array>
				<string>/opt/local/bin/cvs</string>
				<string>/usr/local/bin/cvs</string>
			</array>
			<key>variable</key>
			<string>TM_CVS</string>
		</dict>
	</array>
	<key>uuid</key>
	<string>473C6519-F164-4496-A699-F9DE2CAB56DD</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
